.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/00_raw_data
/01_tidy_data

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

**/*.quarto_ipynb
