.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/00_raw_data
/01_tidy_data
/03_plots

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.bib
.pptx

**/*.quarto_ipynb
