# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb
*.embed.ipynb
*.knit.md


# Quarto project folders
/.quarto/
/_manuscript
/_freeze
/_extensions
/index_files
/notebooks
/images
/00_raw_data
/01_tidy_data
/03_plots

# LaTeX / journal style files
/agujournal2019.cls
/trackchanges.sty

# RStudio
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Bibliography and styles
*.bib
*.csl

# Office files
*.pptx

# Figures
*.png

# Quarto notebook artefacts
**/*.quarto_ipynb

# Quarto render artefacts
_freeze/
site_libs/
*.html
*.json
*.docx
